* {
  margin: 0;
  padding: 0;
}
body {
  background: #070724 url(../assets/figmaBackground.png);
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  display: none;

  &.loader-remove {
    height: initial;
    display: initial;
  }
}

// =================== loader ========================

.loader {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: all;
  flex: 1;

  &__dot {
    .dot-pulse {
      margin-left: 20px;
      position: relative;
      left: -9999px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #f5f6f7;
      color: #f5f6f7;
      box-shadow: 9999px 0 0 -5px #f5f6f7;
      animation: dotPulse 1.5s infinite linear;
      animation-delay: 0.25s;
    }

    .dot-pulse::before,
    .dot-pulse::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #f5f6f7;
      color: #f5f6f7;
    }

    .dot-pulse::before {
      box-shadow: 9984px 0 0 -5px #f5f6f7;
      animation: dotPulseBefore 1.5s infinite linear;
      animation-delay: 0s;
    }

    .dot-pulse::after {
      box-shadow: 10014px 0 0 -5px #f5f6f7;
      animation: dotPulseAfter 1.5s infinite linear;
      animation-delay: 0.5s;
    }

    @keyframes dotPulseBefore {
      0% {
        box-shadow: 9984px 0 0 -5px #f5f6f7;
      }
      30% {
        box-shadow: 9984px 0 0 2px #f5f6f7;
      }
      60%,
      100% {
        box-shadow: 9984px 0 0 -5px #f5f6f7;
      }
    }

    @keyframes dotPulse {
      0% {
        box-shadow: 9999px 0 0 -5px #f5f6f7;
      }
      30% {
        box-shadow: 9999px 0 0 2px #f5f6f7;
      }
      60%,
      100% {
        box-shadow: 9999px 0 0 -5px #f5f6f7;
      }
    }

    @keyframes dotPulseAfter {
      0% {
        box-shadow: 10014px 0 0 -5px #f5f6f7;
      }
      30% {
        box-shadow: 10014px 0 0 2px #f5f6f7;
      }
      60%,
      100% {
        box-shadow: 10014px 0 0 -5px #f5f6f7;
      }
    }
  }

  &.hide {
    pointer-events: none;
    display: none;
  }
}

// =================== navbar ========================

.navbar {
  .nav-item {
    padding: 0px 2px;
    .hidden-lg {
      display: none;
    }
  }
  .navbar-brand {
    font-family: $title-font;
  }

  .navbar-nav .nav-link {
    font-family: $title-font-secondary;
    position: relative;

    &.active {
      &::before {
        content: "";
        position: absolute;
        top: -1.5rem;
        left: 0;
        height: 6px;
        width: 100%;
        background: $primary-color-blue;
        transition: all 400ms;
        transform-origin: 50% 50%;
        transform: scaleX(1);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -1.5rem;
      left: 0;
      height: 3px;
      width: 100%;
      background: $primary-color-blue;
      transition: all 400ms;
      transform-origin: 50% 50%;
      transform: scaleX(0);
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.nav-divider {
  width: 100%;
  height: 2px;
  background: rgba(45, 102, 240, 0.2);
  display: block;
  margin: 0;
}

// =================== planet-summary ========================

.planet-summary {
  margin: 80px auto 100px auto;
  .row {
    min-height: 550px;
  }
  &__title {
    font-family: $title-font;
  }

  &__img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  &__source,
  &__options,
  &__content {
    font-family: $title-font-secondary;
  }

  &__content {
    color: $light-text-color;
  }

  &__source-link {
    img {
      width: 15px;
      height: 15px;
    }
  }

  .btn-check:focus + .btn-outline-primary,
  .btn-outline-primary:focus,
  .btn-check:checked + .btn-outline-primary:focus,
  .btn-check:active + .btn-outline-primary:focus,
  .btn-outline-primary:active:focus,
  .btn-outline-primary.active:focus,
  .btn-outline-primary.dropdown-toggle.show:focus,
  .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }
  .btn-option {
    &.active {
      font-weight: 700;
    }

    &:not(.active) {
      border: 1px solid #38384f;

      &:hover {
        background: rgba(255, 255, 255, 0.1) !important;
      }
    }
  }
}

// =================== planet-detail ========================

.planet-detail {
  &__wrapper {
    border: 1px solid rgba(45, 102, 240, 0.2);
    min-height: 100px;
  }

  &__title {
    color: #bbbbbb;
    font-family: $title-font-secondary;
    font-size: 14px;
  }

  &__value {
    font-family: $title-font;

    color: $light-text-color;
  }
}

// =================== media queries ========================

@media (max-width: 1199.98px) {
  .planet-summary {
    margin: 40px auto 80px auto;

    &__img {
      width: 375px;
      height: 375px;
    }
  }
}
@media screen and (max-width: 1100px) and (min-width: 991.98px) {
  .planet-summary {
    &__content {
      font-size: 14px !important;
    }
  }
}
@media (max-width: 991.98px) {
  .navbar {
    .navbar-collapse {
      margin-top: 1.5rem;
    }
    .nav-item {
      display: flex;
      align-items: center;
      .hidden-lg {
        margin: 0 18px 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }
    .navbar-nav .nav-link {
      width: 100%;
      &::before,
      &.active::before,
      &:hover::before {
        display: none;
      }
    }
  }
  .planet-summary {
    &__img-wrapper {
      justify-content: center;
      margin-bottom: 35px;
    }

    &__title,
    &__content,
    &__source {
      text-align: center;
    }

    &__title,
    &__content {
      margin-bottom: 1.5rem !important;
    }

    &__source {
      margin-bottom: 35px !important;
    }

    &__options {
      width: 100% !important;
      .btn-option {
        width: 100% !important;
      }
    }
  }

  .planet-detail {
    .row > * {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 767.98px) {
  .nav-divider {
    display: none;
  }
  .planet-summary-wrapper {
    position: relative;
  }

  .planet-summary {
    margin: 0px auto 40px auto;
    padding-top: 122px;
    &__options {
      display: flex !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      gap: 0px !important;

      .btn-option {
        padding: 1rem 1.5rem !important;
        text-align: center !important;
        border-radius: 0px !important;
      }
    }

    &__source {
      margin-bottom: 15px !important;
    }
  }

  .planet-detail {
    margin-bottom: 0px !important;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      min-height: initial;
      align-items: center;
    }

    &__title {
      margin-bottom: 0px !important;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

@media (max-width: 680px) {
  .planet-summary {
    &__img {
      width: 275px;
      height: 275px;
    }

    &__options {
      .btn-option {
        padding: 1rem 0.5rem !important;
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .loader {
    &__dot {
      .dot-pulse,
      .dot-pulse::before,
      .dot-pulse::after {
        width: 8px;
        height: 8px;
      }
    }
  }
  .planet-summary {
    padding-top: 100px;

    &__img-wrapper {
      margin-bottom: 25px;
    }

    &__title {
      text-decoration: underline;
      text-decoration-color: $primary-color-blue;
    }
  }
}

@media (max-width: 480px) {
  .planet-summary {
    &__img {
      width: 250px;
      height: 250px;
    }

    &__content {
      font-size: 14px !important;
    }

    &__source {
      font-size: 14px;
    }
  }
}

@media (max-width: 400px) {
  .loader {
    &__dot {
      .dot-pulse,
      .dot-pulse::before,
      .dot-pulse::after {
        width: 6px;
        height: 6px;
      }
    }

    &__icon {
      width: 125px !important;
      height: 125px !important;
    }
  }
  .navbar {
    .navbar-collapse {
      margin-top: 1rem;
    }
  }
  .planet-detail {
    &__title {
      font-size: 14px;
    }

    &__value {
      font-size: calc(1.175rem + 1.5vw) !important;
    }
  }
}

@media (max-width: 320px) {
  .planet-summary {
    &__img {
      width: 200px;
      height: 200px;
    }

    &__options {
      .btn-option {
        font-size: 12px !important;
      }
    }
  }

  .planet-detail {
    &__title {
      font-size: 12px;
    }

    &__value {
      font-size: calc(1rem + 1.5vw) !important;
    }
  }
}
