* {
  margin: 0;
  padding: 0;
}
body {
  // background: white;
  background: url(../assets/figmaBackground.png);
  background-size: cover;
  // background-repeat: no-repeat;
}

// .loader.remove {
//   display: none;
// }

// .skeleton-loader-background {
//   width: 100%;
//   height: 15px;
//   display: block;
//   background: lightgray;
// }

// .skeleton-loader-gradient {
//   width: 100%;
//   height: 15px;
//   display: block;
//   background: linear-gradient(
//       to right,
//       rgba(255, 255, 255, 0),
//       rgba(255, 255, 255, 0.5) 50%,
//       rgba(255, 255, 255, 0) 80%
//     ),
//     lightgray;
//   background-repeat: repeat-y;
//   background-size: 50px 200px;
//   background-position: 0 0;
// }

// .skeleton-loader:empty {
//   width: 100%;
//   height: 15px;
//   display: block;
//   background: linear-gradient(
//       to right,
//       rgba(255, 255, 255, 0),
//       rgba(255, 255, 255, 0.5) 50%,
//       rgba(255, 255, 255, 0) 80%
//     ),
//     lightgray;
//   background-repeat: repeat-y;
//   background-size: 50px 500px;
//   background-position: 0 0;
//   animation: shine 1s infinite;
// }

// @keyframes shine {
//   to {
//     background-position: 100% 0;
//   }
// }

// #container {
//   .navbar .navbar-nav .nav-link,
//   .navbar .navbar-brand {
//     color: #fff;
//   }
// }

.navbar {
  .nav-item {
    padding: 0px 2px;
    .hidden-lg {
      display: none;
    }
  }
  .navbar-brand {
    font-family: $title-font;
  }

  .navbar-nav .nav-link {
    font-family: $title-font-secondary;
    position: relative;

    &.active {
      &::before {
        content: "";
        position: absolute;
        top: -1.5rem;
        left: 0;
        height: 6px;
        width: 100%;
        background: $primary-color-blue;
        // background: #6d2ed5;
        transition: all 400ms;
        transform-origin: 50% 50%;
        transform: scaleX(1);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -1.5rem;
      left: 0;
      height: 3px;
      width: 100%;
      background: $primary-color-blue;
      // background: #6d2ed5;
      transition: all 400ms;
      transform-origin: 50% 50%;
      transform: scaleX(0);
    }

    &:hover::before {
      transform: scaleX(1);
      // width: 100%;
      // display: none;
    }
  }
}

.nav-divider {
  // border-top: 1px solid #fff;
  width: 100%;
  height: 2px;
  background: rgba(45, 102, 240, 0.2);
  display: block;
  // background: #fff;
  margin: 0;
}

.planet-summary {
  margin: 80px auto 100px auto;
  .row {
    min-height: 550px;
  }
  &__title {
    font-family: $title-font;
  }

  &__img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  &__source,
  &__options,
  &__content {
    font-family: $title-font-secondary;
  }

  &__content {
    color: $light-text-color;
  }

  &__source-link {
    // color: $light-text-color;

    img {
      width: 15px;
      height: 15px;

      // margin-bottom: 1px;
    }
  }

  .btn-check:focus + .btn-outline-primary,
  .btn-outline-primary:focus,
  .btn-check:checked + .btn-outline-primary:focus,
  .btn-check:active + .btn-outline-primary:focus,
  .btn-outline-primary:active:focus,
  .btn-outline-primary.active:focus,
  .btn-outline-primary.dropdown-toggle.show:focus,
  .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }
  .btn-option {
    &.active {
      // background: $primary-color-blue;
      font-weight: 700;
    }

    &:not(.active) {
      border: 1px solid #38384f;

      &:hover {
        background: rgba(255, 255, 255, 0.1) !important;
      }
    }
  }
}

.planet-detail {
  &__wrapper {
    border: 1px solid rgba(45, 102, 240, 0.2);
    min-height: 100px;
    // border: ;
  }

  &__title {
    color: #bbbbbb;
    font-family: $title-font-secondary;
    font-size: 14px;
  }

  &__value {
    font-family: $title-font;

    color: $light-text-color;
  }
}

@media (max-width: 1200px) {
  .planet-summary {
    margin: 40px auto 80px auto;

    &__img {
      width: 375px;
      height: 375px;
    }
  }
}
@media screen and (max-width: 1100px) and (min-width: 992px) {
  .planet-summary {
    &__content {
      font-size: 14px !important;
    }
  }
}
@media (max-width: 992px) {
  .navbar {
    .nav-item {
      display: flex;
      align-items: center;
      .hidden-lg {
        margin: 0 18px 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }
    .navbar-nav .nav-link {
      &::before,
      &.active::before,
      &:hover::before {
        display: none;
      }
    }
  }
  .planet-summary {
    &__img-wrapper {
      justify-content: center;
      margin-bottom: 35px;
    }

    &__title,
    &__content,
    &__source {
      text-align: center;
    }

    &__title,
    &__content {
      margin-bottom: 1.5rem !important;
    }

    &__source {
      margin-bottom: 35px !important;
    }

    &__options {
      width: 100% !important;
      .btn-option {
        width: 100% !important;
      }
    }
  }

  .planet-detail {
    .row > * {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 768px) {
  .nav-divider {
    display: none;
  }
  .planet-summary-wrapper {
    position: relative;

    .planet-summary {
      margin: 0px auto 40px auto;
      padding-top: 122px;
      &__options {
        display: flex !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        gap: 0px !important;
        // margin-bottom: 40px;

        .btn-option {
          // display: inline;
          padding: 1rem 1.5rem !important;
          text-align: center !important;
          border-radius: 0px !important;
        }
      }

      &__source {
        margin-bottom: 15px !important;
      }
    }
  }

  .planet-detail {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      min-height: initial;
      align-items: center;
    }

    &__title {
      margin-bottom: 0px !important;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

@media (max-width: 680px) {
  .planet-summary-wrapper {
    .planet-summary {
      &__img {
        width: 275px;
        height: 275px;
      }

      &__options {
        // display: none;
        .btn-option {
          // display: inline;
          padding: 1rem 0.5rem !important;
          font-size: 14px !important;
          // text-align: center !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
}
